<main class="main-content">
  <div *ngIf="doctor" class="page-container" style="--page-max-width: 700px;">
    <h2 class="page-title">
      Perfil de Médico
    </h2>

    <!-- Primeira linha: Nome -->
    <div class="profile-field">
      <strong>Nome:</strong>
      <span>{{ doctor.nome }}</span>
    </div>

    <!-- Segunda linha: E-mail -->
    <div class="profile-field">
      <strong>Email:</strong>
      <span>{{ doctor.email }}</span>
    </div>

    <!-- Terceira linha: CRM + Especialidade -->
    <div class="profile-field profile-field-spaced">
      <div>
        <strong>CRM:</strong>
        <span>{{ crmFormatted  }}</span>
      </div>

      <div>
        <strong>Especialidade:</strong>
        <span>{{ doctor.especialidade | titlecase }}</span>
      </div>
    </div>

    <!-- Quarta linha: Telefone + Status -->
    <div class="profile-field profile-field-spaced">
      <div>
        <strong>Telefone:</strong>
        <span>{{ telephoneFormatted  }}</span>
      </div>

      <div>
        <strong>Status:</strong>
        <span>{{ doctor.ativo ? 'Ativo' : 'Inativo' }}</span>
      </div>
    </div>

    <!-- Botões -->
    <div class="button-row">
      <!-- Editar (apenas ADMIN) -->
      <button *appHasRole="['ADMIN']" class="btn btn-primary" (click)="update(doctor)">
        Editar
      </button>

      <!-- Ativar (aparece apenas se inativo; ADMIN ou RECEPCIONISTA) -->
      @if (!doctor.ativo) {
        <button *appHasRole="['ADMIN','RECEPCIONISTA']" class="btn btn-success" [disabled]="loading()" (click)="activate()">
          Ativar
        </button>
      }

      <!-- Inativar (aparece apenas se ativo; ADMIN ou RECEPCIONISTA) -->
      @if (doctor.ativo) {
        <button *appHasRole="['ADMIN','RECEPCIONISTA']" class="btn btn-warning" [disabled]="loading()" (click)="deactivate()">
          Inativar
        </button>
      }

      <!-- Excluir (aparece apenas se inativo; apenas ADMIN) -->
      @if (!doctor.ativo) {
        <button *appHasRole="['ADMIN']" class="btn btn-danger" [disabled]="loading()" (click)="delete()">
          Excluir
        </button>
      }
    </div>
  </div>
</main>
