.profile-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.profile-field strong {
  margin-right: 10px;
}

.profile-field-spaced {
  justify-content: space-between;
}

.button-row {
  margin-top: 30px;
}
