<form #form="ngForm" (ngSubmit)="onSubmit()" class="container">

    <div *ngIf="mensagemErro" class="alert alert-danger mb-3">
        {{ mensagemErro }}
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nome</mat-label>
            <input
                matInput
                name="nome"
                #nomeModel="ngModel"
                [(ngModel)]="medico.nome"
                required
            />
            @if (nomeModel.errors?.['required']) {
                <mat-error>Nome é obrigatório</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
                matInput
                type="email"
                name="email"
                #emailModel="ngModel"
                [(ngModel)]="medico.email"
                required
                email
            />
            @if (emailModel.errors?.['required']) {
                <mat-error>E-mail é obrigatório</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>CRM Sigla</mat-label>
                <mat-select
                    name="crmSigla"
                    [(ngModel)]="medico.crmSigla"
                    #siglaModel="ngModel"
                    required
                >
                    <mat-option
                        *ngFor="let sigla of siglasCrm"
                        [value]="sigla"
                    >
                        {{ sigla }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="siglaModel.errors?.['required']">
                    Sigla do CRM é obrigatória
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>CRM Dígitos</mat-label>
            <input
                matInput
                name="crmDigitos"
                #digitosModel="ngModel"
                [(ngModel)]="medico.crmDigitos"
                required
            />
            @if (digitosModel.errors?.['required']) {
                <mat-error>Digitos do CRM é obrigatório</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Especialidade</mat-label>
            <input
                matInput
                name="especialidade"
                #especialidadeModel="ngModel"
                [(ngModel)]="medico.especialidade"
                required
            />
            @if (especialidadeModel.errors?.['required']) {
                <mat-error>Especialidade é obrigatória</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
            <mat-label>Telefone</mat-label>
            <input
                matInput
                name="telefone"
                #telefoneModel="ngModel"
                [(ngModel)]="medico.telefone"
                required
            />
            @if (telefoneModel.errors?.['required']) {
                <mat-error>Telefone é obrigatório</mat-error>
            }
            </mat-form-field>
        </div>

        <div class="col div-button">
            <button
                type="submit"
                mat-flat-button
                color="primary"
                [disabled]="form.invalid"
            >
                Salvar
            </button>
        </div>
    </div>
</form>
