/* Cor de fundo */
::ng-deep .mat-mdc-dialog-surface {
    background-color: var(--bg-page) !important;
    border: 1px solid var(--border-default);
    width: 500px;
}

/* Cor do título e conteúdo */
::ng-deep .mat-mdc-dialog-title,
::ng-deep .mat-mdc-dialog-content {
    color: white !important;
}

/* Cor do botão */
::ng-deep .mat-mdc-dialog-actions button {
    background-color: var(--bg-table) !important;
    color: white !important;
}

/* Cor ao passar o mouse em cima do botão */
::ng-deep .mat-mdc-dialog-actions button:hover {
    background-color: #393939 !important;
}
