<nav class="navbar" [class.no-hover]="suppressHover()">

  <a class="brand" routerLink="/">{{ brandLabel() }}</a>

  <button
    class="toggler"
    type="button"
    aria-label="menu"
    (click)="toggleMenu()"
  >
    <span></span>
  </button>

  <div class="collapse" [class.open]="menuOpen()">

    <ul class="nav center">

      <li>
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Início
        </a>
      </li>

      <li
        *appHasRole="['ADMIN','RECEPCIONISTA']"
        class="dropdown"
        [class.open]="openDropdown() === 'medico'"
      >
        <a
          class="nav-link"
          href="#"
          (click)="$event.preventDefault(); toggleDropdown('medico')"
        >
          Médico
        </a>
        <div class="dropdown-menu">
          <a routerLink="/doctors/create">Cadastrar</a>
          <a routerLink="/doctors">Listar ativos</a>
          <a routerLink="/doctors/filter">Aplicar filtros</a>
        </div>
      </li>

      <li
        *appHasRole="['ADMIN','RECEPCIONISTA']"
        class="dropdown"
        [class.open]="openDropdown() === 'paciente'"
      >
        <a
          class="nav-link"
          href="#"
          (click)="$event.preventDefault(); toggleDropdown('paciente')"
        >
          Paciente
        </a>
        <div class="dropdown-menu">
          <a class="disabled" tabindex="-1">Cadastrar</a>
          <a class="disabled" tabindex="-1">Listar ativos</a>
        </div>
      </li>

      <li
        *appHasRole="['ADMIN','RECEPCIONISTA']"
        class="dropdown"
        [class.open]="openDropdown() === 'consulta'"
      >
        <a
          class="nav-link"
          href="#"
          (click)="$event.preventDefault(); toggleDropdown('consulta')"
        >
          Consulta
        </a>
        <div class="dropdown-menu">
          <a class="disabled" tabindex="-1">Cadastrar</a>
          <a class="disabled" tabindex="-1">Listar todas</a>
        </div>
      </li>

      <li
        *appHasRole="['ADMIN','RECEPCIONISTA']"
        class="dropdown"
        [class.open]="openDropdown() === 'relatorio'"
      >
        <a
          class="nav-link"
          href="#"
          (click)="$event.preventDefault(); toggleDropdown('relatorio')"
        >
          Relatório
        </a>
        <div class="dropdown-menu">
          <a class="disabled" tabindex="-1">Médico</a>
          <a class="disabled" tabindex="-1">Paciente</a>
          <a class="disabled" tabindex="-1">Consulta</a>
          <a class="disabled" tabindex="-1">Operacional</a>
          <a class="disabled" tabindex="-1">Financeiro</a>
          <a class="disabled" tabindex="-1">Produtividade</a>
        </div>
      </li>

    </ul>

    <ul class="nav right">
      <li>
        <a class="nav-link disabled" tabindex="-1">Perfil</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/logout">Sair</a>
      </li>
    </ul>

  </div>

</nav>
