h2[mat-dialog-title] {
  color: #fff;
}

mat-dialog-content {
  background-color: #333;
  padding: 16px;
}

.filter-section {
  margin-bottom: 16px;
  color: #ccc;
}

mat-label {
  color: #ccc;
}

input[matInput] {
  color: #fff;
}

mat-dialog-actions {
  background-color: #333;
  padding: 8px;
}

hr {
  border-color: #ccc;
}
