<h2 mat-dialog-title>Filtros Médicos</h2>

<mat-dialog-content>
  <div class="my-3 text-light text-center">
    <p>Status (aplicável sozinho ou com nome):</p>
    <mat-button-toggle-group
      [(ngModel)]="filters.ativo"
      class="status-toggle-group"
    >
      <mat-button-toggle [value]="true">Ativo</mat-button-toggle>
      <mat-button-toggle [value]="false">Inativo</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field appearance="outline" class="w-100 my-3 no-bottom-gap-form-field">
    <mat-label>Nome</mat-label>
    <input
      matInput
      [(ngModel)]="filters.nome"
    />
  </mat-form-field>

  <hr />

  <mat-form-field appearance="outline" class="w-100 my-3 no-bottom-gap-form-field">
    <mat-label>CRM Sigla</mat-label>
    <mat-select
      [(ngModel)]="filters.crmSigla"
    >
      @for (sigla of siglasCrm; track sigla) {
        <mat-option [value]="sigla">
          {{ sigla }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 my-3 no-bottom-gap-form-field">
    <mat-label>CRM Dígitos</mat-label>
    <input
      matInput
      [(ngModel)]="filters.crmDigitos"
      [mask]="'000000'"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="dialog-buttons">
  <button class="btn btn-outline-danger" mat-dialog-close>
    Cancelar
  </button>
  <button class="btn btn-primary" (click)="applyFilters()">
    Aplicar
  </button>
</mat-dialog-actions>
